@import url("kube.css");
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'proxima-nova', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.55em;
  font-weight: 400;
  color: #202020; }

.hug {
  padding: 3%; }

.intro {
  position: relative;
  background: #e0e0e0 url("../img/bruecke2.jpg") no-repeat center;
  background-size: cover;
  padding: 12% 3% 3% 3%; }
  .intro .text {
    background: #fff;
    border-radius: 2px;
    padding: 3%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); }

.bar {
  width: 100%;
  padding: 18px 3%;
  background: #076EAD;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
  vertical-align: baseline;
  text-align: center; }
  .bar input[type=text] {
    display: inline-block;
    margin: 0 4px 0 4px;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-family: Colfax, Helvetica, sans-serif;
    padding: 12px 10px 10px 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.21);
    color: #fff;
    vertical-align: baseline;
    line-height: 1.2em;
    font-weight: 400;
    width: 202px; }
  .bar .name {
    width: 128px !important; }
  .bar .activity {
    width: 310px !important; }
  .bar input:focus {
    background: white;
    color: #333; }
  .bar select {
    margin: 0 4px 0 4px; }
  .bar button {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-family: Colfax, Helvetica, sans-serif;
    font-weight: 400;
    vertical-align: baseline;
    line-height: 1.2em;
    padding: 10px 10px 8px 10px;
    outline: none;
    margin-top: -1px;
    margin-left: 4px;
    cursor: pointer; }
  .bar button:hover {
    background-color: #fff;
    color: #076EAD; }
  .bar button:disabled {
    color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
    cursor: default;
    background: transparent; }

.list {
  width: 100%; }
  .list li {
    height: 79px;
    padding: 0 3%;
    line-height: 1;
    border-bottom: 1px solid #d0d0d0; }
    .list li .time {
      line-height: 79px;
      display: inline-block;
      margin-right: 3%;
      font-weight: 600;
      color: #444; }
    .list li .activity {
      line-height: 79px; }
